<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSS Grid Layout With Three Columns</title>
    <link href="./styles.css" rel="stylesheet" />
</head>

<body>
    <div class="grid-container">
        <div class="grid-item item-1">
            <center>Menu Bar</center>
            <a href="#">
                <i class="fa fa-bars topleft" aria-hidden="true"></i>
            </a>
            <a href="GRID_1.html">
                <i class="fa fa-home topright" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-search bottomright" aria-hidden="true"></i>
            </a>
        </div>
        <div class="grid-item item-2">My Proposals</div>
        <div class="grid-item item-3">My Profile</div>
        <div class="grid-item item-4">My Project Dashboard</div>
    </div>

    <div class="grid-container">
        <div class="grid-item item-1">Sub header</div>
        <div class="grid-item item-2">Sub menu</div>
        <div class="grid-item item-6">Main Body</div>
    </div>
</body>

</html>