body {
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
}

.grid-item {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.left {
    grid-column: 1 / span 3;
    background: yellow;
}

.right {
    grid-column: 4;
    background: #ec7272;
}